.attractions {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;

	#canvas {
		width: 100%;
		@include flex-row;
	}

	@include mq(medium) {
		width: 50%;
	}


	svg {
		max-height: 160px;
		margin-left: 20px;
	}

	#london-eye {
	margin-left: 0;	

		#cabins {
			animation: Rotation 10s linear infinite;
			transform-origin: 49.5% 45.8%;
			transform-origin: 49.8% 47.8%;
		}
	}

	#eiffel-tower {
		opacity: .4;
		
	}

	#windmill {

	    #blades {
			animation: Rotation 10s linear infinite;
			transform-origin: 50% 25%;
	    }
	}

	#japan {

	}
}

@keyframes Rotation {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}