@mixin pseudo($content: " ", $top:0, $left:0, $width: 100%, $height: 100%) {
    content: $content;
    display: block;
    position: absolute;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}

@mixin mq($breakpoint) { 
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. " + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@mixin flex-row($justify-content: center, $flex-wrap: nowrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $flex-wrap;
  justify-content: $justify-content;
}

@mixin flex-col($flex-wrap: nowrap,$justify-content: center, $align-items: center ) {
	display: flex;
  flex-direction: column;
	flex-wrap: $flex-wrap;
	align-items: $align-items;
  justify-content: $justify-content;
}
 

